<ion-header>
  <ion-toolbar>
    <ion-title>
      My Day
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let log of logs">
            <ion-item>
                <ion-label>{{log.name}}</ion-label>
                <ion-label color='medium'>x{{log.quantity}}</ion-label>
                <ion-label color='medium'>{{log.calories}} cal</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="editLog(log)">Edit</ion-item-option>
              <ion-item-option color="danger" (click)="deleteLog(log)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
      </ion-list>
    <ion-card>
      <ion-card-content>
        <h1>Total: {{ this.total() }} calories</h1>
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logFood()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
